{% extends "base.html" %}
{% block title %}Slacker{% endblock %}
{% load materializecss %}
{% block content %}
	<div class="col s10">
		<div class="row">
			<h1 class="">{{gc.name}}</h1>
			<button class="btn purple mt3">Add User to Chat</button>
		</div>
		{% for message in gc.groupmessage_set.all %}
			{% if request.user.profile == message.profile %}
				<div class="card-panel blue-grey lighten-5">
					<h6>You<cite class="grey-text darken-1">~{{message.timestamp | timesince}} ago</cite>
					</h6>
					<p>{{message.content}}</p>
				</div>
				{% else %}
					<div class="card-panel blue lighten-3 ">
					<h6>
						<a class='dropdown-trigger ' href="{% url 'private_chat' message.profile.id %}">{{message.profile.user.username}}</a> <cite class="grey-text darken-1">~{{message.timestamp | timesince}} ago</cite>
					</h6>
					<p>{{message.content}}</p>
				</div>
					{% endif %}
			{% endfor %}
			<div class="row">
				<form method="POST" class="col s12">
					{% csrf_token %}
					<div class="row">
						<div class="input-field col s11">
							<i class="material-icons prefix">mode_edit</i>
							<textarea name="content" id="content" class="materialize-textarea"></textarea>
							<label for="content">Message</label>
						</div>
						<button class="btn-flat purple"><i class="material-icons white-text">send</i></button>
					</div>
				</form>
			</div>
		</div>
		
		<div class="col s2">
			<ul>
				<h5>Group Members</h5>
				{% for profile in gc.profiles.all %}
					
					{% if request.user.profile != profile%}
					<li><a href="{% url 'private_chat' profile.id %}">{{profile.user.username}}</a></li>
					{% else %}
					<li>{{profile.user.username}} (That's you!)</li>
					{% endif %}
		
				{% endfor %}
			</ul>
		</div>
		<script type="text/javascript">
         $('.dropdown-trigger').dropdown();
      </script>
	{% endblock %}